body{
    height:3000px;
}


.flower {
    position: fixed;
    width: 5%;
    height: 5%;
    z-index: -3;
}

.base {
    bottom: 4%;
    right: 45px;
    animation: base 1.7s linear infinite;
}

.leftPetals {
    bottom: 9%;
    right: 70px;
    /*
  margin-top: -50px;
  margin-left: -50px;
*/
    animation: leftPetals 1.7s linear infinite;
}

.rightPetals {
    bottom: 9%;
    right: 20px;
    /*
  margin-top: -50px;
  margin-left: -50px;
*/
    animation: rightPetals 1.7s linear infinite;
}

.stamen {
    bottom: 10.5%;
    right: 53px;
    animation: stamen 1.7s linear infinite;
}

#leftSt {
    bottom: 9.5%;
    right: 40px;
    transform: rotate(5deg);
    /*    animation: stamen 1.7s linear infinite;*/
}

.bgFlower {
    position: fixed;
    z-index: -2;
    width: 80%;
    top: 25%;
    right: 10%;
    bottom: 0;
    left: 10%;
    /*  margin:1% 10%;*/
    /*  align-content: center;*/
}

.bgCog {
    transform-origin: 28% 60%;
    /*     265px 275px*/
    animation: turn 1.7s linear infinite;
}

.bgCogR {
    transform-origin: 70% 61%;
    /*     265px 275px*/
    animation: turn 1.7s linear infinite;
}

.bgBranchR {
    transform-origin: 68% 60%;
    /*     265px 275px*/
    animation: bgBranch 1s linear infinite;
}

.bgBranchL {
    transform-origin: 28% 60%;
    /*     265px 275px*/
    animation: bgBranch 1s linear infinite;
}

.bgBranchMain {
    transform-origin: 58% 60%;
    /*     265px 275px*/
    animation: bgBranch 1s linear 1s infinite alternate;
}

.bgTeethL {
    animation: bgTeethL 1s linear infinite;
}

.bgTeethR {
    animation: bgTeethR 1s linear infinite;
}

.midFlLeft {
    animation: midFlLeft 1s linear infinite;
}

.midFlRight {
    animation: midFlRight 1s linear infinite;
}

@keyframes midFlLeft {
    50% {
        transform: rotate(-15deg);
    }
}

@keyframes midFlRight {
    50% {
        transform: rotate(15deg);
    }
}

@keyframes turn {
    to {
        transform: rotate(360deg);
    }
}

@keyframes bgBranch {
    50% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }
}

@keyframes bgTeethL {
    50% {
        transform: translate(50px, -10px);
    }
}

@keyframes bgTeethR {
    50% {
        transform: translate(20px, -30px);
    }
}

@keyframes leftPetals {
    to {
        transform: rotate(-30deg) translate(-50px, 50px) scale(1.5, 1.5);
    }
}

@keyframes rightPetals {
    to {
        transform: rotate(30deg) translate(50px, 50px) scale(1.5, 1.5);
    }
}

@keyframes base {
    to {
        transform: translate(0px, 85px) scale(1.5, 1.5);
    }
}

@keyframes stamen {
    33% {
        transform: rotate(10deg) scale(1.5, 1.5);
    }

    66% {
        transform: rotate(-10deg) scale(1.5, 1.5);
    }

    100% {
        transform: rotate(10deg) translate(0px, -20px) scale(1, 0.5);
    }
}


:root * {
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

body {
    height: 3000px;
}


.flower {
    position: fixed;
    width: 5%;
    height: 5%;
    z-index: -3;
}

.base {
    bottom: 4%;
    right: 45px;
    animation: base 1.7s linear infinite;
}

.leftPetals {
    bottom: 9%;
    right: 70px;
    /*
  margin-top: -50px;
  margin-left: -50px;
*/
    animation: leftPetals 1.7s linear infinite;
}

.rightPetals {
    bottom: 9%;
    right: 20px;
    /*
  margin-top: -50px;
  margin-left: -50px;
*/
    animation: rightPetals 1.7s linear infinite;
}

.stamen {
    bottom: 10.5%;
    right: 53px;
    animation: stamen 1.7s linear infinite;
}

#leftSt {
    bottom: 9.5%;
    right: 40px;
    transform: rotate(5deg);
    /*    animation: stamen 1.7s linear infinite;*/
}

.bgFlower {
    position: fixed;
    z-index: -2;
    width: 80%;
    top: 25%;
    right: 10%;
    bottom: 0;
    left: 10%;
    /*  margin:1% 10%;*/
    /*  align-content: center;*/
}

.bgCog {
    transform-origin: 28% 60%;
    /*     265px 275px*/
    animation: turn 1.7s linear infinite;
}

.bgCogR {
    transform-origin: 70% 61%;
    /*     265px 275px*/
    animation: turn 1.7s linear infinite;
}

.bgBranchR {
    transform-origin: 68% 60%;
    /*     265px 275px*/
    animation: bgBranch 1s linear infinite;
}

.bgBranchL {
    transform-origin: 28% 60%;
    /*     265px 275px*/
    animation: bgBranch 1s linear infinite;
}

.bgBranchMain {
    transform-origin: 58% 60%;
    /*     265px 275px*/
    animation: bgBranch 1s linear 1s infinite alternate;
}

.bgTeethL {
    animation: bgTeethL 1s linear infinite;
}

.bgTeethR {
    animation: bgTeethR 1s linear infinite;
}

.midFlLeft {
    animation: midFlLeft 1s linear infinite;
}

.midFlRight {
    animation: midFlRight 1s linear infinite;
}

@keyframes midFlLeft {
    50% {
        transform: rotate(-15deg);
    }
}

@keyframes midFlRight {
    50% {
        transform: rotate(15deg);
    }
}

@keyframes turn {
    to {
        transform: rotate(360deg);
    }
}

@keyframes bgBranch {
    50% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }
}

@keyframes bgTeethL {
    50% {
        transform: translate(50px, -10px);
    }
}

@keyframes bgTeethR {
    50% {
        transform: translate(20px, -30px);
    }
}

@keyframes leftPetals {
    to {
        transform: rotate(-30deg) translate(-50px, 50px) scale(1.5, 1.5);
    }
}

@keyframes rightPetals {
    to {
        transform: rotate(30deg) translate(50px, 50px) scale(1.5, 1.5);
    }
}

@keyframes base {
    to {
        transform: translate(0px, 85px) scale(1.5, 1.5);
    }
}

@keyframes stamen {
    33% {
        transform: rotate(10deg) scale(1.5, 1.5);
    }

    66% {
        transform: rotate(-10deg) scale(1.5, 1.5);
    }

    100% {
        transform: rotate(10deg) translate(0px, -20px) scale(1, 0.5);
    }
}


:root * {
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}






.highlights {
/*need something different for when menu is open*/
/*position: relative;*/
width: 40%;
   
    left: 20%;
    z-index: 10;
/*background-color: red;*/
    margin: 3em;
    padding: 0.1em;
/*margin:15vw 1vw 20vw 1vw;*/
    width:70%;
}
.highlights:hover {
    margin:2em;
    border:2px dotted;
    border-color:cadetblue;
    border-block-color:purple;

}


#highlight1 {
    margin-top: 3em;
    padding: 0.1em;
}
/*
#highlight3 {
    top:0;
    margin: 0 0;
    padding: 0.1em;
}*/

#seeMore {
    width: 40vmin;
    margin: auto;
    text-align: center;
    background-color: none;
    border:double 2px purple;
    
}
    #seeMore p {
        padding: 1vw;
        margin:auto;
        text-decoration: none;
        color: black;
    }

    #seeMore:hover{
        background-color:mediumpurple;
        
    }

/*for layout highlights
*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
/*background-color:purple;*/
}


.flex-highlightsL {
    flex: 35%;
/*background-color:blue;*/

}

.flex-highlightsR {
    flex: 35%;
/*background-color:red;*/
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .flex-highlightsL, .flex-highlightsR {
        flex: 100%;
    }
}
