body {
    position: relative;
    background-color: rgb(217, 237, 191); /*#FF9800 #2C7865 #90D26D*/
}

h1,
.navbar a:hover{
  color: #FF9800; /*#FF9800 #2C7865 #90D26D*/
}

h1{
  padding-top: 5rem;
  padding-bottom: 0;
}

.pageContainer a {
  color: #2C7865; /*#FF9800 #2C7865 #90D26D*/
}

.pageContainer a:hover {
  color: #FF9800; /*#FF9800 #2C7865 #90D26D*/
}

.pageContainer{
  /* margin: 1rem 1rem; */
  padding: 0.5rem 0.15rem; 
  border-radius: 0.25rem;
  /* border-color: #FF9800; */
  /* border-width: 3px; */
  /* border-style: solid; */
  background-color: rgb(217, 237, 191); /*#FF9800 #2C7865 #90D26D*/
}

/* .pageContainer p span,
.pageContainer li span{
  /* padding: 0.01rem;
  border-radius: 0.25rem;
  background-color: rgb(217, 237, 191,0.7) !important; 
} */

.navButtons,
.navbar-nav a{
  background-color: #C7E09C; /*#FF9800 #2C7865 #90D26D*/
   border-radius: 0.9rem; 
   border-style: solid;
   border-width: 0.25rem;
   border-color: #C7E09C; /*C7E09C*/
   /* color:#2C7865; */
  text-align: center;
  margin: 3px;
}

.card-img-overlay img {
   position: relative;
   width: 100%;
}

.card-img-overlay,
.card-img-overlay a,
.card-img-overlay h5 {
  font-weight: bold;
  /* background-color: rgba(254, 254, 254, 0.05); */
  position: absolute;
  top: 0;
  left: 0; 
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center; 
  align-items: center;
  transition: all .1s ease-in;
  text-decoration: none;
}

.card-img-overlay a:hover {
  font-size: 2rem !important;
  background-color: rgba(130, 130, 130, 0.55);
  justify-content: center; 
  align-items: center;
}

.card-img-overlay p {
  font-size: 0.8rem !important;
  font-weight: bold;
  position: relative;
  top: 2rem;
  left: 0; 
  color: white;
  justify-content:baseline;
  align-items: center;
  transition: all .1s ease-in;
  text-decoration: none;
  display: flex;
}

.card-title:hover ~ #extraText{
  display: none;
}
.painting:hover{
  /* transform: scale(1.5); */
  overflow: hidden;
  font-size: 0.01rem !important;
  z-index: 100;
}

.painting:hover:after{
  transition: all .1s ease-in;
  /* transform: scale(0.75); */
  overflow: hidden;
  z-index: 50;
}